<h2>New Celebrity</h2>
<form action="/celebrities/create" method="post">
  <label for="">Enter their Name</label>
  <input type="text" name="name" />
  <label for="">Enter their occupation</label>
  <input type="text" name="occupation" />
  <label for="">Enter their catchphrase</label>
  <input type="text" name="catchPhrase" />
  <input type="submit" value="submit" />
</form>